.DS_Store
mlruns/
mlartifacts/
__pycache__/
*.log
/models/

/models

reports/confusion_matrix.png
reports/classification_report_test.csv
reports/y_true_pred.csv

/hpo/
/figures/
/mlflow_runs.csv
/final_model_comparison.csv
/classification_report.csv
/metrics.json