deepchecks==0.19.1
dvc==3.63.0
dvc-azure==3.1.0
dvc-data==3.16.12
dvc-http==2.32.0
dvc-objects==5.1.2
dvc-render==1.0.2
dvc-studio-client==0.22.0
dvc-task==0.40.2
evidently==0.7.14
fastapi==0.116.1
matplotlib==3.10.6
mlflow==3.3.2
mlflow-skinny==3.3.2
mlflow-tracing==3.3.2
numpy==2.3.2
onnxruntime==1.22.1
pandas==2.3.2
pytest==8.4.2
scikit-learn==1.7.1
seaborn==0.13.2
